section.Area1{background-color: #0099FF; visibility: hidden;}
h2{font-family: sans-serif; text-align: center}
section.Area2{background-color: #00CCCC; visibility: hidden;}
#Monster{padding: 10pt;  width: 30%; height: 30%}
#Smash{padding: 10pt;  width: 30%; height: 30%}
#Zelda{padding: 10pt;  width: 30%; height: 30%}
